{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Admin Dashboard</h2>
<div class="list-group">
    <a href="{{ url_for('add_slot') }}" class="list-group-item list-group-item-action">Add Parking Slot</a>
    <a href="{{ url_for('remove_slot') }}" class="list-group-item list-group-item-action">Remove Parking Slot</a>
    <a href="{{ url_for('view_revenue') }}" class="list-group-item list-group-item-action">View Revenue</a>
    <a href="{{ url_for('create_user') }}" class="list-group-item list-group-item-action">Create New User</a>
    <a href="{{ url_for('view_users') }}" class="list-group-item list-group-item-action">View Users</a>
    <a href="{{ url_for('view_audit_log') }}" class="list-group-item list-group-item-action">View Audit Log</a>
</div>
{% endblock %}
